[submodule "themes/hugo-theme-moments"]
	path = themes/hugo-theme-moments
	url = https://github.com/qtopie/hugo-theme-moments
[submodule "posts"]
	path = posts
	url = git@github.com:jocelyn68/posts.git
